# Mental Health and Music

### Impact of Favorite Genre on Mental Health

Question: Does the favorite genre of music have an impact on mental health conditions?

Analysis: Compare mental health scores for different favorite genres.

In [29]:
#Import dependencies
import pandas as pd
from pathlib import Path
import matplotlib.pyplot as plt

In [30]:
#Open file and save to a variable
music=Path("./Data/mxmh_survey_results.csv")
music_df=pd.read_csv(music)
music_df.head()

,Timestamp,Age,Primary streaming service,Hours per day,While working,Instrumentalist,Composer,Fav genre,Exploratory,Foreign languages,...,Frequency [R&B],Frequency [Rap],Frequency [Rock],Frequency [Video game music],Anxiety,Depression,Insomnia,OCD,Music effects,Permissions
0,8/27/2022 19:29:02,18.0,Spotify,3.0,Yes,Yes,Yes,Latin,Yes,Yes,...,Sometimes,Very frequently,Never,Sometimes,3.0,0.0,1.0,0.0,NaN,I understand.
1,8/27/2022 19:57:31,63.0,Pandora,1.5,Yes,No,No,Rock,Yes,No,...,Sometimes,Rarely,Very frequently,Rarely,7.0,2.0,2.0,1.0,NaN,I understand.
2,8/27/2022 21:28:18,18.0,Spotify,4.0,No,No,No,Video game music,No,Yes,...,Never,Rarely,Rarely,Very frequently,7.0,7.0,10.0,2.0,No effect,I understand.
3,8/27/2022 21:40:40,61.0,YouTube Music,2.5,Yes,No,Yes,Jazz,Yes,Yes,...,Sometimes,Never,Never,Never,9.0,7.0,3.0,3.0,Improve,I understand.
4,8/27/2022 21:54:47,18.0,Spotify,4.0,Yes,No,No,R&B,Yes,No,...,Very frequently,Very frequently,Never,Rarely,7.0,2.0,5.0,9.0,Improve,I understand.

In [31]:
music_df.count()
cleaned=music_df.dropna()
cleaned.count()

Timestamp                       616
Age                             616
Primary streaming service       616
Hours per day                   616
While working                   616
Instrumentalist                 616
Composer                        616
Fav genre                       616
Exploratory                     616
Foreign languages               616
BPM                             616
Frequency [Classical]           616
Frequency [Country]             616
Frequency [EDM]                 616
Frequency [Folk]                616
Frequency [Gospel]              616
Frequency [Hip hop]             616
Frequency [Jazz]                616
Frequency [K pop]               616
Frequency [Latin]               616
Frequency [Lofi]                616
Frequency [Metal]               616
Frequency [Pop]                 616
Frequency [R&B]                 616
Frequency [Rap]                 616
Frequency [Rock]                616
Frequency [Video game music]    616
Anxiety                         616
Depression                      616
Insomnia                        616
OCD                             616
Music effects                   616
Permissions                     616
dtype: int64

In [32]:
cleaned_df=pd.DataFrame(cleaned)
cleaned_df.head()
cleaned_df.columns

Index(['Timestamp', 'Age', 'Primary streaming service', 'Hours per day',
       'While working', 'Instrumentalist', 'Composer', 'Fav genre',
       'Exploratory', 'Foreign languages', 'BPM', 'Frequency [Classical]',
       'Frequency [Country]', 'Frequency [EDM]', 'Frequency [Folk]',
       'Frequency [Gospel]', 'Frequency [Hip hop]', 'Frequency [Jazz]',
       'Frequency [K pop]', 'Frequency [Latin]', 'Frequency [Lofi]',
       'Frequency [Metal]', 'Frequency [Pop]', 'Frequency [R&B]',
       'Frequency [Rap]', 'Frequency [Rock]', 'Frequency [Video game music]',
       'Anxiety', 'Depression', 'Insomnia', 'OCD', 'Music effects',
       'Permissions'],
      dtype='object')

In [33]:
df=cleaned_df[['Fav genre', 'Anxiety', 'Depression', 'Insomnia', 'OCD', 'Music effects']]
df

            Fav genre  Anxiety  Depression  Insomnia  OCD Music effects
2    Video game music      7.0         7.0      10.0  2.0     No effect
3                Jazz      9.0         7.0       3.0  3.0       Improve
4                 R&B      7.0         2.0       5.0  9.0       Improve
5                Jazz      8.0         8.0       7.0  7.0       Improve
6    Video game music      4.0         8.0       6.0  0.0       Improve
..                ...      ...         ...       ...  ...           ...
731              Rock      7.0         6.0       0.0  9.0       Improve
732               Pop      3.0         2.0       2.0  5.0       Improve
733               Rap      2.0         2.0       2.0  2.0       Improve
734         Classical      2.0         3.0       2.0  1.0       Improve
735           Hip hop      2.0         2.0       2.0  5.0       Improve

[616 rows x 6 columns]

In [34]:
df["Fav genre"].unique()

array(['Video game music', 'Jazz', 'R&B', 'K pop', 'Rock', 'EDM',
       'Country', 'Hip hop', 'Rap', 'Pop', 'Classical', 'Metal', 'Folk',
       'Lofi', 'Gospel', 'Latin'], dtype=object)

In [42]:
VideoGameMusic=[]
Jazz=[]
RandB=[]
Kpop=[]
Rock=[]
EDM=[]
Country=[]
HipHop=[]
Rap=[]
Pop=[]
Classical=[]
Metal=[]
Folk=[]
Lofi=[]
Gospel=[]
Latin=[]

for index, row in df.iterrows():
    if row["Fav genre"]=='Video game music':
        VideoGameMusic.append(row)
    elif row["Fav genre"]=='Jazz':
        Jazz.append(row)
    elif row["Fav genre"]=='R&B':
        RandB.append(row)
    elif row["Fav genre"]=='K pop':
        Kpop.append(row)
    elif row["Fav genre"]=='Rock':
        Rock.append(row)
    elif row["Fav genre"]=='EDM':
        EDM.append(row)
    elif row["Fav genre"]=='Country':
        Country.append(row)
    elif row["Fav genre"]=='Hip hop':
        HipHop.append(row)
    elif row["Fav genre"]=='Rap':
        Rap.append(row)
    elif row["Fav genre"]=='Pop':
        Pop.append(row)
    elif row["Fav genre"]=='Classical':
        Classical.append(row)
    elif row["Fav genre"]=='Metal':
        Metal.append(row)
    elif row["Fav genre"]=='Folk':
        Folk.append(row)
    elif row["Fav genre"]=='Lofi':
        Lofi.append(row)
    elif row["Fav genre"]=='Gospel':
        Gospel.append(row)
    else:
        Latin.append(row)

In [135]:

VideoGameMusic_df=pd.DataFrame(VideoGameMusic)
VideoGameMusic_df.head()
VideoGameMusic_df.describe()
print(f"Anxiety: {VideoGameMusic_df['Anxiety'].mean():.2f}")
print(f"Depression: {VideoGameMusic_df['Depression'].mean():.2f}")
print(f"Insomnia: {VideoGameMusic_df['Insomnia'].mean():.2f}")
print(f"OCD: {VideoGameMusic_df['OCD'].mean():.2f}")

Anxiety: 6.39
Depression: 4.69
Insomnia: 4.64
OCD: 2.67

In [96]:
Jazz_df=pd.DataFrame(Jazz)
Jazz_df.head()
Jazz_df.describe()

         Anxiety  Depression   Insomnia        OCD
count  19.000000   19.000000  19.000000  19.000000
mean    5.684211    4.578947   4.052632   2.421053
std     2.749801    3.271354   3.027167   2.364454
min     0.000000    0.000000   0.000000   0.000000
25%     3.000000    2.000000   1.500000   0.000000
50%     6.000000    4.000000   4.000000   1.000000
75%     8.000000    7.500000   7.000000   4.000000
max     9.000000   10.000000   8.000000   7.000000

In [95]:
RandB_df=pd.DataFrame(RandB)
RandB_df.head()
RandB_df.describe()

         Anxiety  Depression   Insomnia        OCD
count  30.000000   30.000000  30.000000  30.000000
mean    5.300000    4.166667   2.833333   2.666667
std     2.793465    3.108202   3.280910   2.630502
min     1.000000    0.000000   0.000000   0.000000
25%     3.000000    2.000000   0.000000   0.000000
50%     5.000000    4.000000   1.500000   2.500000
75%     7.000000    6.000000   5.000000   4.750000
max    10.000000   10.000000  10.000000   9.000000

In [94]:
Kpop_df=pd.DataFrame(Kpop)
Kpop_df.head()
Kpop_df.describe()

         Anxiety  Depression   Insomnia        OCD
count  21.000000   21.000000  21.000000  21.000000
mean    6.523810    3.904762   3.190476   2.476190
std     2.204973    2.964874   2.657424   2.993644
min     2.000000    0.000000   0.000000   0.000000
25%     5.000000    2.000000   0.000000   0.000000
50%     7.000000    3.000000   3.000000   1.000000
75%     8.000000    7.000000   5.000000   5.000000
max    10.000000    9.000000   7.000000  10.000000

In [93]:
Rock_df=pd.DataFrame(Rock)
Rock_df.head()
Rock_df.describe()

          Anxiety  Depression    Insomnia         OCD
count  149.000000  149.000000  149.000000  149.000000
mean     6.134228    5.379195    3.936242    2.694631
std      2.910043    3.096233    2.993963    3.076014
min      0.000000    0.000000    0.000000    0.000000
25%      4.000000    2.000000    1.000000    0.000000
50%      7.000000    6.000000    4.000000    2.000000
75%      8.000000    8.000000    6.000000    4.000000
max     10.000000   10.000000   10.000000   10.000000

In [92]:
EDM_df=pd.DataFrame(EDM)
EDM_df.head()
EDM_df.describe()

         Anxiety  Depression   Insomnia        OCD
count  36.000000   36.000000  36.000000  36.000000
mean    5.361111    5.111111   3.944444   2.888889
std     3.356467    3.049850   3.179797   3.105551
min     0.000000    0.000000   0.000000   0.000000
25%     2.750000    2.750000   1.000000   0.000000
50%     6.000000    5.500000   4.000000   2.000000
75%     8.000000    7.250000   7.000000   5.250000
max    10.000000   10.000000  10.000000  10.000000

In [91]:
Country_df=pd.DataFrame(Country)
Country_df.head()
Country_df.describe()

         Anxiety  Depression   Insomnia        OCD
count  20.000000   20.000000  20.000000  20.000000
mean    5.700000    4.100000   2.600000   2.600000
std     2.792848    3.177222   2.257152   2.233713
min     0.000000    0.000000   0.000000   0.000000
25%     3.750000    1.000000   1.000000   0.750000
50%     7.000000    4.500000   2.000000   2.500000
75%     8.000000    5.250000   3.500000   4.250000
max     9.000000   10.000000   8.000000   7.000000

In [90]:
HipHop_df=pd.DataFrame(HipHop)
HipHop_df.head()
HipHop_df.describe()

         Anxiety  Depression   Insomnia        OCD
count  32.000000   32.000000  32.000000  32.000000
mean    6.312500    6.093750   3.656250   2.656250
std     2.375106    2.607178   2.719219   2.671346
min     2.000000    0.000000   0.000000   0.000000
25%     5.000000    4.750000   1.750000   0.000000
50%     7.000000    7.000000   3.000000   2.000000
75%     8.000000    8.000000   5.250000   5.000000
max    10.000000   10.000000  10.000000  10.000000

In [89]:
Rap_df=pd.DataFrame(Rap)
Rap_df.head()
Rap_df.describe()

         Anxiety  Depression  Insomnia        OCD
count  20.000000   20.000000  20.00000  20.000000
mean    5.000000    3.750000   2.10000   3.150000
std     2.991215    3.109832   2.33734   2.942877
min     0.000000    0.000000   0.00000   0.000000
25%     3.000000    1.750000   0.00000   0.000000
50%     4.000000    3.000000   2.00000   2.500000
75%     7.000000    6.000000   3.25000   5.000000
max    10.000000   10.000000   7.00000  10.000000

In [88]:
Pop_df=pd.DataFrame(Pop)
Pop_df.head()
Pop_df.describe()

         Anxiety  Depression   Insomnia        OCD
count  97.000000   97.000000  97.000000  97.000000
mean    6.077320    4.407216   3.257732   2.943299
std     2.290538    2.558004   2.966052   3.090540
min     0.000000    0.000000   0.000000   0.000000
25%     5.000000    2.000000   1.000000   0.000000
50%     6.000000    5.000000   3.000000   2.000000
75%     7.500000    6.000000   5.000000   5.000000
max    10.000000   10.000000  10.000000  10.000000

In [81]:
Classical_df=pd.DataFrame(Classical)
Classical_df.head()
Classical_df.describe()

         Anxiety  Depression   Insomnia        OCD
count  38.000000   38.000000  38.000000  38.000000
mean    5.052632    4.368421   4.000000   2.447368
std     2.769987    3.044011   3.328826   2.309760
min     0.000000    0.000000   0.000000   0.000000
25%     3.000000    2.000000   1.250000   1.000000
50%     6.000000    5.000000   3.000000   2.000000
75%     7.000000    6.750000   6.750000   3.000000
max     9.000000    9.000000  10.000000   8.000000

In [83]:
Metal_df=pd.DataFrame(Metal)
Metal_df.head()
Metal_df.describe()

         Anxiety  Depression   Insomnia        OCD
count  77.000000   77.000000  77.000000  77.000000
mean    5.545455    5.194805   4.519481   2.272727
std     2.993614    2.947072   3.443569   2.765561
min     0.000000    0.000000   0.000000   0.000000
25%     3.000000    3.000000   1.000000   0.000000
50%     6.000000    6.000000   5.000000   1.000000
75%     8.000000    8.000000   8.000000   3.000000
max    10.000000   10.000000  10.000000  10.000000

In [84]:
Folk_df=pd.DataFrame(Folk)
Folk_df.head()
Folk_df.describe()

         Anxiety  Depression   Insomnia        OCD
count  25.000000   25.000000  25.000000  25.000000
mean    6.640000    5.280000   4.040000   2.560000
std     2.767068    3.048497   2.879236   2.814842
min     0.000000    0.000000   0.000000   0.000000
25%     6.000000    4.000000   2.000000   0.000000
50%     8.000000    6.000000   4.000000   2.000000
75%     8.000000    7.000000   7.000000   4.000000
max    10.000000   10.000000   9.000000  10.000000

In [85]:
Lofi_df=pd.DataFrame(Lofi)
Lofi_df.head()
Lofi_df.describe()

         Anxiety  Depression   Insomnia        OCD
count  10.000000   10.000000  10.000000  10.000000
mean    6.100000    6.600000   5.600000   3.400000
std     2.078995    3.098387   3.169297   3.533962
min     3.000000    1.000000   0.000000   0.000000
25%     4.500000    5.250000   3.500000   0.250000
50%     7.000000    8.000000   6.000000   2.000000
75%     7.000000    8.000000   7.750000   6.500000
max     9.000000   10.000000  10.000000   9.000000

In [86]:
Gospel_df=pd.DataFrame(Gospel)
Gospel_df.head()
Gospel_df.describe()

         Anxiety  Depression   Insomnia  OCD
count   4.000000    4.000000   4.000000  4.0
mean    5.500000    3.500000   6.000000  0.5
std     3.316625    4.725816   4.618802  1.0
min     3.000000    0.000000   2.000000  0.0
25%     3.000000    0.000000   2.000000  0.0
50%     4.500000    2.000000   6.000000  0.0
75%     7.000000    5.500000  10.000000  0.5
max    10.000000   10.000000  10.000000  2.0

In [101]:
Latin_df=pd.DataFrame(Latin)
Latin_df.head()
Latin_df.describe()

         Anxiety  Depression  Insomnia       OCD
count   2.000000     2.00000  2.000000  2.000000
mean    5.000000     4.50000  4.500000  2.500000
std     7.071068     2.12132  6.363961  3.535534
min     0.000000     3.00000  0.000000  0.000000
25%     2.500000     3.75000  2.250000  1.250000
50%     5.000000     4.50000  4.500000  2.500000
75%     7.500000     5.25000  6.750000  3.750000
max    10.000000     6.00000  9.000000  5.000000